
   
        
            
            p{
                font-family: Arial;
            }
            .Title{
                margin: 1em 0 0.5em 0;
	            font-weight: 600;
	            font-family: 'Titillium Web', sans-serif;
	            position: relative;  
	            font-size: 36px;
	            line-height: 40px;
	            padding: 15px 15px 15px 15%;
	            color: #000000;
	            box-shadow: 
		           inset 0 0 0 1px rgba(0, 0, 0, 0.4), 
		           inset 0 0 5px rgba(0, 0, 0, 0.5),
		           inset -285px 0 35px white;
	            border-radius: 0 10px 0 10px;
	            background: #fff ;
                
            }
            .Description{
                margin: 1em 0 0.5em 0;
	            font-weight: normal;
	            position: relative;
	            text-shadow: 0 -1px rgba(0,0,0,0.6);
	            font-size: 12px;
	            line-height: 40px;
	            padding: 5px 15px;
	            color:rgb(60, 60, 60);
	            font-family: 'Muli', sans-serif;
            }
            .BookTitle{
                
                margin: 1em 0 0.5em 0;
                font-weight: 600;
                font-family: 'Titillium Web', sans-serif;
                position: relative;
                text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
                font-size: 22px;
                line-height: 40px;
                color: #373737;
                text-transform: uppercase;
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                
                
            }
            
            .T{
                 height:400px;
                 border-width:1px;
                 border-style:solid;
                 border-color:black;
                 border-radius: 12px;
                 display: block;
                 margin-left: auto;
                 margin-right: auto;
                
                }
            
            .pd1{
               
               font-family:Arial ;
               border-style: solid;
               border-width : 0px;
               color: rgb(0, 0, 0);
               border-radius: 12px;
               padding-right: 12px;
               padding-left:12px ;
               font-size: medium;
               text-align: center;
               padding-bottom: 12px;
               
            }
            .pd2{
               
               font-family:Arial ;
               border-style: solid;
               border-width : 0px;
               color: rgb(0, 0, 0);
               border-radius: 12px;
               padding-right: 12px;
               padding-left:12px ;
               font-size: medium;
               text-align: center;
               padding-bottom: 14px;
            }
            
            .Buy{
                margin: 1em 0 .6em 0;
	            padding: 0 0 0 20px;
	            font-weight: normal;
	            color:rgb(4, 17, 74);
	            font-family: 'Hammersmith One', sans-serif;
	            text-shadow: 0 -1px 0 rgb(7, 7, 7);
	            position: relative;
	            font-size: 17px;
	            line-height: 30px;
	            font-family: 'Questrial', sans-serif;
            }

        
